.map-frame {
  background-color: rgb(134, 172, 134);
  height: 400px;
}
.contact-frame {
  background-color: red;
  width: 800px;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.feedback-frame {
  width: 800px;
  height: 400px;
}
